<img src="" alt="This is representative image of the car with color choice.">

<h2>Your Model R</h2>

<table>
    <thead>
      <tr>
        <th>Starting price</th>
        <td>{{ defaultPrice | currency }}</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{ engineName }}</th>
        <td>{{ enginePrice > 0 ? '+' + (enginePrice | currency) : 'Included' }}</td>
      </tr>
      <tr>
        <th>{{ colorName }}</th>
        <td>{{ colorPrice > 0 ? '+' + (colorPrice | currency) : 'Included' }}</td>
      </tr>
      <tr>
        <th>{{ wheelName }}</th>
        <td>{{ wheelPrice > 0 ? '+' + (wheelPrice | currency) : 'Included' }}</td>
      </tr>
    </tbody>
    <tfoot>
        <tr>
          <th>Final Price</th>
          <td>{{ totalPrice | currency }}</td>
        </tr>
      </tfoot>
  </table>

<a routerLink="">REBUILD</a>
