<div class="container">
  <img [src]="urlCarImage" alt="This is representative image of the car with color choice.">

  <div id="model">
    <h2>
      <span>Your</span>
      <span> Model</span>
      <span> R</span>
    </h2>

    <table cellspacing="0">
      <thead>
        <tr>
          <th>Starting price</th>
          <td>{{ defaultPrice | currency }}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{ engineName }}</th>
          <td>{{ enginePrice > 0 ? '+' + (enginePrice | currency) : 'Included' }}</td>
        </tr>
        <tr>
          <th>{{ colorName }}</th>
          <td>{{ colorPrice > 0 ? '+' + (colorPrice | currency) : 'Included' }}</td>
        </tr>
        <tr>
          <th>{{ wheelName }}</th>
          <td>{{ wheelPrice > 0 ? '+' + (wheelPrice | currency) : 'Included' }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Final Price</th>
          <td>{{ totalPrice | currency }}</td>
        </tr>
      </tfoot>
    </table>
    <div id="button">
      <a routerLink="">REBUILD <img src="../../assets/images/buttons/rebuild.svg" alt="Rebuild button"></a>
    </div>
  </div>
</div>
