@import '../../styles.scss';

nav {
  a {
    order: 1;
    width: 90%;

    img {
      width: 159px;
      height: 23px;
    }
  }

  ul {
    order: 2;
    width: 10%;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      a {
        display: none;
        margin-right: 0;
        text-underline-position: under;
        color: $grey;
      }

      a.icon {
        display: block;
        text-align: right;
        position: absolute;
        right: 20px;
        top: 30px;
        font-size: 30px;

      }
    }
  }

  ul.responsive {
    width: 100%;
    border-bottom: solid $red;
    padding-top: 16px;
    position: absolute;
    background-color: $white;
    top: 10px;
    right: 1px;
    z-index: 1;

    li {
      padding: 16px;

      a {
        display: block;
      }
    }

    li:nth-child(3){
      background-color: $red;

      a {
        color: $white;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  nav {
    a {
      width: 30%;
    }

    ul {
      width: 70%;
      display: inline-flex;

      li {
        padding: 0;
        margin-right: 40px;

        a {
          display: block;
          width: 100%;

        }

        a.icon {
          display: none;
        }
      }

      li:nth-child(7) {
        margin-right: 0;
      }

      li:last-child {
        margin-right: 0;
      }
    }

    li:nth-child(3) {
      background-color: initial;

      a:first-child {
        color: $blue;
        text-decoration-color: $red;
        text-underline-position: under;
      }
    }

    ul.responsive {
      border-bottom: none;
      width: 70%;
      padding: 0;


      li {
        padding: 0;
      }

      li:nth-child(7) {
        background-color: initial;

        a:first-child {
          color: $blue;
          text-decoration-color: $red;
          text-underline-position: under;
          cursor: pointer;
        }
      }

    }


  }

}
