<div class="container">
  <div id="total">
    <p id="total-title">Total</p>
    <p id="total-price">{{ totalPrice | currency }}</p>
  </div>
  <p id="model-r"> Model R</p>
  <p id="engine-model">{{ newEngineModel }}</p>
  <div class="img">
    <img id="color-image" [src]="newColorImage" alt="Miniature of the chosen color" *ngIf="newColorImage">
  </div>
  <div class="img">
    <img id="wheel-image" [src]="newWheelImage" alt="Miniature of the chosen wheel" *ngIf="newWheelImage">
  </div>
  <div id="button">
    <a routerLink="{{ nextPage }}">next <img src="../../assets/images/buttons/arrow.svg" alt="Button Next Page"></a>
  </div>
</div>
