@import '../../styles.scss';

header {
  margin-top: 170px;

  p {
    order: 3;
    width: 100%;
    margin: 0 7px;
    color: $red;
    letter-spacing: 7.5px;
    font-size: 1.2em;
  }

  h1 {
    order: 4;
    width: 100%;
    font-size: 5.2em;
    margin: 0;
    font-weight: 300;

    span {
      font-weight: 500;
      color: $red;
    }
  }

  img {
    order: 5;
    margin-top: -53px;
  }

  a {
    order: 6;
    width: 100%;
    letter-spacing: 9.42px;
    text-align: center;
    text-decoration: none;

    img {
      margin: -3px;
      width: 20px;
    }
  }
}

footer {
  div {
    width: 33.3%;

    .details-numbers {
      font-size: 2.2em;
      font-weight: 500;
      color: $red;
      margin: 0;

      span {
        color: $red;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .details {
      font-size: 14px;
      color: $blue;
      letter-spacing: 1.17px;
      border-bottom: 5px solid $red;
      padding-bottom: 8px;
      width: 80%;
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    margin-top: 110px;

    p {
      margin: 0 14%;
    }

    h1 {
      font-size: 6.2em;
      margin: 0 13%;
    }
  }

  img {
    width: 70%;
    margin-left: 20%;
  }
}


@media screen and (min-width: 1024px) {
  header {

    h1 {
      font-size: 8.2em;
    }

    img {
      width: 65%;
      margin-top: -70px;
      margin-left: 20%;
    }
  }


}
