<header class="container">
  <p>Build your</p>
  <h1>MODEL <span>R</span></h1>
  <img src="../../assets/images/home/car-home.png" alt="The picture represents a Model R car in red color">
  <a routerLink="/engine">BEGIN <img src="../../assets/images/buttons/arrow.svg" alt="Button Begin"> </a>
</header>

<footer class="container">
  <div>
    <p class="details-numbers">2.5 <span>s</span></p>
    <p class="details">From 0 to 100</p>
  </div>
  <div>
    <p class="details-numbers">400 <span>mi</span></p>
    <p class="details">Miles Range</p>
  </div>
  <div>
    <p class="details-numbers">250 <span>mp/h</span></p>
    <p class="details">Max Speed</p>
  </div>
</footer>
