button {
    background-color: unset;
    padding: 0;
    border-radius: 50%;
    height: 100%;
    width: 30%;
}

.not-selected {
    opacity: 0.5;
}

.selected {
    opacity: 100;
}

.not-show {
    display: none;
}

.show {
    display: blcok;
}