@import '../../styles.scss';

h2 {
  width: 100%;
}



  .not-show {
    display: none;
  }

  .show {
    display: block;
  }

figure {
  margin: 140px 0;
  width: 33.3%;

  button {
    background-color: unset;
    padding: 0;
    border-color: $white;
    
    .not-selected {
      opacity: 0.5;
    }

    .selected {
      opacity: 100;
    }
  }

  figcaption {
      text-align: center;
      p:last-child {
          color: $red;
      }
  }
}
