<h2>Engine</h2>

<img [src]="imageURL" alt="This is representative image of the engine." *ngIf="imageURL">
<table cellspacing="0">
  <tr *ngFor="let engine of engines; let idx = index" (click)="changeChoice(engine)" class="text not-selected"  id="line-{{ engine.id }}">
    <td>
      <span class="kwh-first">{{ engine?.kwh }} </span>
      <span class="kwh-type">{{ engine?.type }}</span>
    </td>
    <td>
      <span class="kwh-second">{{ engine?.kwh }}</span>
      <span class="kwh"> kwh</span>
    </td>
    <td>
      <span class="range-number"> {{ engine?.range }} </span>
      <span class="range">miles range</span>
    </td>
    <td>
      <input class="radio" type="radio" id="engine-{{ engine?.id }}" name="engine" value="{{ engine?.id }}"
        [checked]="(idx === 0)"><span class="customRadio"></span>
      <p class="price not-show-price" id="price-{{ engine?.id }}">+{{ engine?.price | currency }}</p>
    </td>
  </tr>

</table>

<app-footer [nextPage]="colorLink" [newEnginePrice]="enginePrice" [newEngineModel]="engineModel"></app-footer>
